.Cart .one {
    background-color: var(--sec-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}
.one img{
    width: 100px;
    height: 100px;
}
.one div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.one div:nth-child(3) p{
    margin: 0;
    
}
.one div:nth-child(3) b{
    margin: 0;
    
}
.one div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.one div:nth-child(4) button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 2px solid var(--body-color) ;
}
.one div:nth-child(4) span{
    font-size: 20px;
    font-family: serif;
}
.totall{
    background-color: var(--sec-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    border: 2px solid var(--body-color) ;
}